<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login &amp; Reg | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyles.css' %}" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <header>
      <h1>Register</h1>
      <p class = 'red'>{{errors}}</p>
      <form class="register_form" action="register" method="post">
        {% csrf_token %}
        <label>Name:</label><input type='text' name='name'><br>
        <label>Email:</label><input type='text' name='email'><br>
        <label>Password:</label><input type="text" name="password1"><br>
        <label>Verify Password:</label><input type="text" name="password2"><br>
        <input class = 'button' type='submit' value='Register'>
      </form>
    </header>
    <div class="loginbody">
      <h1>Login</h1>
      <p class = 'red'>{{lerrors}}</p>
      <form class="login_form" action="login" method="post">
        {% csrf_token %}
        <label>Email:</label><input type='text' name='email'><br>
        <label>Password:</label><input type="text" name="password"><br>
        <input type="submit" class = 'button'  name="login" value="Login">
      </form>
    </div>
  </body>
</html>
